
// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.

// Anyways, here's how I like to structure my content styles:


// Border box all the things:

* {
	 box-sizing: border-box;
}

// ---
// General Selectors
// ---

img {
	max-width: 100%;
	margin: 1rem;
}


// ---
// Header
// ---

// You might want to split these into your own partials!


// ---
// Main Site Content
// ---
.section-callout {
	font-size: 2rem;
	font-weight: bold;

}

li {
	list-style-type: none;
}

h4.widget-title {
	color: $link-color;
	text-align: center;
}

// ---
// Media
// ---




// ---
// Footer
// ---

.base-footer {
	max-width:100%;
	background-color: $background-colortwo;
}

#footer {
	background-color: darken($background-colortwo, 20%);
}

// $main-color: 		#14577F;
// $supporting-color:	#00C7E0;
// $background-color:	#E7DDF7;
 //$background-colortwo:	#888291;
// $accent-color:		#FF6269;
// $auxiliary-color:	#FF848D;
	




