
// ---
// Nav
// ---
// I like this toggle menu a lot: https://codepen.io/bradfrost/pen/sHvaz

// Base mobile nav styles here.

$desktopClass: desktop-screen;

.nav-main {
	//max-height: 0;
	//overflow: hidden;
	transition: all 0.5s ease;
	&.active {
		max-height: $screen-md;
		}

	@include bp(md) {
		max-height: none;
	}

}

.nav-items {
	list-style-type: none;
	padding-left: 0;
	padding-top: 2rem;
	text-align: center;

	@include bp(md) {
		& > li {
			display: inline-block;
		}

	}

}

	.nav-item-link {
		padding: 1.4rem;
		@include upperspace;
		@include bp(md) {


	}

	}
	a.nav-item-link {
			display: block;
			padding: 0.8em;
			position: relative;
			@include bp(xs) {



	}


}
#nav-link {
  @include bp(md) {
	display: none;
  }
}

#nav-main {
  display: none;
}

.#{$desktopClass} #nav-main {
  display: block;
}

.#{$desktopClass} {
  .nav-item {
	position: relative;
  }
  .nav-drop {
	position: absolute;
	left: 0;
	top: 1.8em;
	padding: 0.8em;
  }
}
//Hide all sub menus
.nav-drop {
  display: none;
}


// Link to open the nav

.nav-link {
	&.active {
		color: blue;
	}
}