<div class="base-footer">
	<div class="container">
		<div class="row">
			<aside class="col-md-3">
				{{footer_widgets}}
			</aside>
			<aside class="col-md-3">
				{{footerml_widgets}}
			</aside>
			<aside class="col-md-3">
				{{footermr_widgets}}
			</aside>
			<aside class="col-md-3">
				{{footerfr_widgets}}
			</aside>
		</div>
	</div>
</div>